<form (ngSubmit)="submit1()" novalidate>

<mat-form-field>
  <input matInput type="text" placeholder="Usuario" name="usu" [(ngModel)]="usus.usu">
</mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Contraseña" name="pass" [(ngModel)]="usus.pass">
</mat-form-field>

<button mat-raised-button type="submit">Iniciar</button>
<a routerLink="/registro">Registro</a>
</form>