<form (ngSubmit)="submit1()" novalidate>

<mat-form-field>
  <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usus.nombre">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="Correo" name="correo" [(ngModel)]="usus.correo">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="DNI" name="dni" [(ngModel)]="usus.dni">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="Usuario" name="usu" [(ngModel)]="usus.usu">
</mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Contraseña" name="pass" [(ngModel)]="usus.pass">
</mat-form-field>

<button mat-raised-button type="submit">I'm a button</button>
</form>